@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9813 0.0074 260.7315);
  --foreground: oklch(0.2695 0.0069 229.1056);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2695 0.0069 229.1056);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2695 0.0069 229.1056);
  --primary: oklch(0.4631 0.1651 260.7234);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9539 0.0025 228.7847);
  --secondary-foreground: oklch(0.2695 0.0069 229.1056);
  --muted: oklch(0.9622 0.0137 258.3449);
  --muted-foreground: oklch(0.5132 0.0156 226.7908);
  --accent: oklch(0.9435 0.0212 259.1909);
  --accent-foreground: oklch(0.2913 0.0931 260.4615);
  --destructive: oklch(0.5886 0.2304 27.2744);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9080 0.0042 236.5020);
  --input: oklch(0.9080 0.0042 236.5020);
  --ring: oklch(0.4631 0.1651 260.7234);
  --chart-1: oklch(0.5140 0.1710 34.8134);
  --chart-2: oklch(0.6527 0.2068 142.2980);
  --chart-3: oklch(0.6707 0.2213 37.6393);
  --chart-4: oklch(0.5886 0.2304 27.2744);
  --chart-5: oklch(0.5625 0.1484 319.5268);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.4210 0.0133 226.2604);
  --sidebar-primary: oklch(0.4631 0.1651 260.7234);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9697 0.0017 247.8393);
  --sidebar-accent-foreground: oklch(0.2695 0.0069 229.1056);
  --sidebar-border: oklch(0.9237 0.0026 228.7862);
  --sidebar-ring: oklch(0.4631 0.1651 260.7234);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2154 0.0060 236.8514);
  --foreground: oklch(0.9697 0.0017 247.8393);
  --card: oklch(0.2695 0.0069 229.1056);
  --card-foreground: oklch(0.9697 0.0017 247.8393);
  --popover: oklch(0.3214 0.0087 233.9474);
  --popover-foreground: oklch(0.9697 0.0017 247.8393);
  --primary: oklch(0.7150 0.1168 261.0194);
  --primary-foreground: oklch(0.1953 0.0543 260.4016);
  --secondary: oklch(0.3214 0.0087 233.9474);
  --secondary-foreground: oklch(0.9697 0.0017 247.8393);
  --muted: oklch(0.3214 0.0087 233.9474);
  --muted-foreground: oklch(0.7651 0.0115 234.8726);
  --accent: oklch(0.4210 0.0133 226.2604);
  --accent-foreground: oklch(0.9697 0.0017 247.8393);
  --destructive: oklch(0.5886 0.2304 27.2744);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3214 0.0087 233.9474);
  --input: oklch(0.5579 0.0171 229.1873);
  --ring: oklch(0.6227 0.1583 260.6036);
  --chart-1: oklch(0.6227 0.1583 260.6036);
  --chart-2: oklch(0.7722 0.2470 142.2861);
  --chart-3: oklch(0.7165 0.1857 42.9061);
  --chart-4: oklch(0.6344 0.2003 23.0575);
  --chart-5: oklch(0.6502 0.1167 319.3257);
  --sidebar: oklch(0.2695 0.0069 229.1056);
  --sidebar-foreground: oklch(0.9697 0.0017 247.8393);
  --sidebar-primary: oklch(0.6227 0.1583 260.6036);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4210 0.0133 226.2604);
  --sidebar-accent-foreground: oklch(0.9697 0.0017 247.8393);
  --sidebar-border: oklch(0.3214 0.0087 233.9474);
  --sidebar-ring: oklch(0.6227 0.1583 260.6036);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.25);
  --shadow-sm: 0px 4px 8px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow: 0px 4px 8px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow-md: 0px 4px 8px 0px hsl(0 0% 0% / 0.50), 0px 2px 4px -1px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0px 4px 8px 0px hsl(0 0% 0% / 0.50), 0px 4px 6px -1px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.50), 0px 8px 10px -1px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
